/* Reset Básico */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: #e6e6e6;
    font-family: "Ancizar Serif", serif;
}

#container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    background:#1f2937;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-around;
}

header nav ul{
    list-style:none;
    padding:0;
    margin:10px;
    display:flex;
    gap:10px;
}

header nav ul li a{
    color:white;
    text-decoration:none;
    font-size:1.4rem;
}

header nav ul li a:hover{
    text-decoration:underline 5px #fff;
    /* hover: ação de passar o mouse por cima
    OBS: pseudoclasse :D */
}

#conteudo{
    display:grid;
    grid-template-columns:1fr 200px;
    gap:20px;
}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* flex-wrap: PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
}

h1{
    font-size: 40px;
    color: crimson;
    text-align: center;
}

p{
    background-image: linear-gradient(to right, black, yellow);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}